.education-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9fafb;
  padding: 1.6rem;
  border-radius: 15px;
  width: 50%;
  box-shadow: 10px 10px 37px 1px rgba(0, 0, 0, 0.62);
}

.education-form .input-group,
.education-heading {
  padding: 0.5rem;
}

.education-form .input-form {
  font-size: 1.1rem;
  border-radius: 10px;
  background-color: #e2e8f0;
  line-height: 2;
  padding-left: 5px;
  width: 95%;
  outline: none;
  border: 2px solid transparent;
  color: #333333;
}

.education-form .input-form:focus {
  transition: 0.3s;
  border: 2px solid #22c55e;
}

.education-form .input-label {
  font-size: 1.4rem;
  font-weight: bold;
  color: #222222;
}

.education-form .dates {
  display: flex;
}

.education-form .dates .input-form {
  width: 90%;
}

.education-form .button {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  gap: 20px;
}

.education-form .submit-btn {
  margin: 0;
  border: 0;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  color: #f9fafb;
  background-color: #222222;
}

.cancel-btn {
  border: 0;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  color: #f9fafb;
  background-color: #5a5858;
}

.cancel-btn:hover {
  background-color: #928e8e;
}

.education-form .submit-btn:hover {
  transition: 0.5s;
  color: #f9fafb;
  background-color: #1d4ed8;
}
