.forms .input-form {
  background-color: #f2f2f2;
  border: 2px solid transparent;
  font-size: 1rem;
  border-radius: 12px;
  line-height: 2rem;
  padding-left: 10px;
}

.forms .input-form:focus {
  transition: 0.5s;
  outline-width: 0;
  border: 2px solid #84cc16;
}

.input-label {
  font-size: 1.3rem;
  padding: 0.5rem 0 0.5rem 0;
}

.forms .practical textarea {
  overflow: auto;
  resize: none;
  height: 7rem;
  line-height: 1.5rem;
}

.forms {
  width: 30%;
  background-color: #0369a1;
  color: #f0f9ff;
  border-radius: 12px;
  box-shadow: 1px 11px 68px -8px rgba(61, 61, 61, 1);
}

.general,
.education,
.practical {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
}

.heading-general,
.heading-education,
.heading-practical {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.dates {
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.dates input {
  margin-top: 0.5rem;
  width: 95%;
}
