.resume-container {
  display: flex;
  flex-direction: column;
  width: 50rem;
  min-height: 70rem;
  background-color: #e0e7ff;
  box-shadow: 1px 11px 68px -8px rgba(61, 61, 61, 1);
}

.top-section {
  background-color: #0284c7;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;
  min-height: 20%;
  color: #222222;
}

.heading-name {
  font-size: 3rem;
  padding: 1rem;
}

.svg {
  width: 2rem;
}

.contact {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-size: 1.5rem;
  padding: 1rem;
}

.contact h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.mid-section,
.bottom-section {
  width: 50rem;
  color: #333333;
}

.education-heading,
.practical-heading {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #0ea5e9;
  border-radius: 20px;
  margin: 2rem;
}

.education-container {
  display: flex;
  justify-content: space-around;
}

.education-info,
.practical-info {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 10px;
}

.heading-school,
.heading-company {
  font-size: 2rem;
  font-weight: bold;
}

.heading-degree,
.heading-position {
  font-size: 1.2rem;
}

.education-container .dates,
.practical-container .dates {
  width: 30%;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.practical-container {
  display: flex;
  justify-content: space-around;
}

.description {
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  word-wrap: break-word;
}
