.practical-display {
  background-color: #f9fafb;
  box-shadow: 10px 10px 37px 1px rgba(0, 0, 0, 0.62);
  border-radius: 15px;
  width: 50%;
  padding: 1.6rem;
  animation-name: appear;
  animation-duration: 0.5s;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
  }
}

.display-heading {
  padding: 0.5rem;
}

.experience-display-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 0.5rem;
}

.experience-display-div:hover {
  background-color: #d3d4d4;
  cursor: pointer;
}

.add-experience {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.remove-btn {
  border: 0;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  height: 50%;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  margin-right: 1.6rem;
  transition: 0.5s;
  color: #f9fafb;
  background-color: #222222;
}

.remove-btn:hover {
  transition: 0.5s;
  background-color: #e01212;
}

.btns {
  display: flex;
  gap: 10px;
}

.add-btn {
  border: 0;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  height: 50%;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  margin-right: 1.6rem;
  transition: 0.5s;
  color: #f9fafb;
  background-color: #1d4ed8;
}

.add-btn:hover {
  transition: 0.5s;
  background-color: #6188f3;
}

.edit-btn {
  border: 0;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  height: 50%;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  color: #f9fafb;
  background-color: #5a5858;
}

.edit-btn:hover {
  background-color: #928e8e;
}
